.about-section{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 3rem;
}

.about-box, .about-img-box{
    width: 50%;
}
.about-par {
  font-size: 1.4rem;
  color: rgb(228, 60, 60);
  margin-bottom: 1rem;
}

.about-title {
  font-family: "Stack Sans Headline", sans-serif;
  text-transform: capitalize;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: rgb(27, 26, 26);
}

.about-description {
  font-size: 1.2rem;
  line-height: 2;
  color: grey;
  margin-bottom: 1rem;
}

.about-btn{
    font-family: "Stack Sans Headline", sans-serif;
    text-transform: capitalize;
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: rgb(41, 39, 39);
    color: white;
    text-decoration: none;
    border-radius: .3rem;
}

.about-img-wrapper {
  height: 33rem;
}

.about-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 5px;
}

