
.header-comb {
    font-family: "Poppins", sans-serif;
    width: 100%;
    text-align: center;
    /* margin-left: 10%; */
  
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px 50px;
  border-bottom: 1px solid #141414;
}


.email {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #222;
  font-size: 14px;
}

.horse-par{
    color: #222;
    font-weight: 600;
    font-size: 1.8rem;
}

.email-icon {
  background: #e64b38;
  color: white;
  padding: 25px;
  border-radius: 4px;
  font-size: 16px;
}


.club-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.logo {
  display: flex;
  gap: 8px;
  align-items: center;
  
}

.horse-logo {
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.club-name {
    color: #222;
  font-size: 20px;
  font-weight: 700;
  
}


.no {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #222;
  
}

.no-icon {
  background: #e64b38;
  color: white;
  padding: 25px;
  border-radius: 4px;
  margin: 0px;
  font-size: 16px;
}

.nav-links {
  display: flex;
  justify-content: center;
  background-color: white;
  border-top: 1px solid #eee;
  padding: 12px 0;
}

.list {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 40px;
  list-style: none;
  
  
}

.list-item a {
  color: #222;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  transition: color 0.3s ease;
}

.list-item a:hover {
  color: #e64b38;
}

